    body {
			font-family: Arial, sans-serif;
			background-color: #f5f5f5;
		}
		
		h1 {
			color:#2271b3;
            text-align: center;
            font-size: 45px;
		}

        p {
            text-align: center;
            font-size: 20;
        }
		
		form {
			background-color: #fff;
			padding: 20px;
			border-radius: 5px;
			box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
			margin-bottom: 20px;
            text-align: center;
		}
		
		label {
			display: block;
			margin-bottom: 10px;
			font-size: 1.2em;
			font-weight: bold;
		}
		
		input[type="numero"] {
			padding: 10px;
			font-size: 1.2em;
			border-radius: 5px;
			border: 1px solid #ccc;
			box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
		}
		
		button[type="submit"] {
			background-color: #007bff;
			color: #fff;
			padding: 10px 20px;
			font-size: 1.2em;
			border-radius: 5px;
			border: none;
			cursor: pointer;
			box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
		}
		
		button[type="submit"]:hover {
			background-color: #0062cc;
		}
		
		#mensagem {
			font-size: 1.2em;
			font-weight: bold;
			color: #333;
			margin-bottom: 20px;
		}
